<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CityVilleDotnet</title>
	
	<link type="text/css" rel="stylesheet" href="~/css/site.css"/>
	
	@await RenderSectionAsync("Header", required: false)
</head>
<body>
	@RenderBody()
</body>
</html>